---
layout: default
---

<div class="intro container-fluid" >
    <section>
<div class="row top">
    <h1 class="mt-5">T-shirt Choices</h1>
    <p> Welcome to the tshirt selection, you can click on a tshirt to see what colors that are available. Please let me know which one and the color and size. </p>
    <hr>
</div>
<div class="row">
<div class="col"><p class="shirt-names">Blue Heart</p>
    <a href="#blueheart"><img src="/assets/images/blueheart/unisex-staple-t-shirt-black.jpg" class="img-fluid"></a>
    </div>
<div class="col"><p class="shirt-names">Heart Enclosed</p>
    <a href="#heartEnclosed"><img src="/assets/images/millieheart/unisex-staple-t-shirt-black.jpg" class="img-fluid"></a>
    </div>
<div class="col"><p class="shirt-names">Need Coffee</p>
    
    <a href="#needCoffee"><img src="/assets/images/needCoffee/unisex-staple-t-shirt-black.jpg" class="img-fluid"></a>
    </div>
<div class="col"><p class="shirt-names">Pi</p>
    
    <a href="#pi"><img src="/assets/images/pi/unisex-staple-t-shirt-black.jpg" class="img-fluid"></a>
    </div>
<div class="col"><p class="shirt-names">Circle of Coffee</p>
    <a href="#circleOfCoffee"><img src="/assets/images/circleOfCoffee/unisex-staple-t-shirt-black.jpg" class="img-fluid"></a>
    </div>

</div>
</section>

<div class="container">
<!-- <div class="container lightbox" data-mdb-lightbox-init> -->
<section>
<!-- Blue Heart -->
<h2 id="blueheart">Blue Heart</h2>
    <div class="row lightbox" data-mdb-lightbox-init>
    {% for image in site.static_files %}
    {% if image.path contains 'images/blueheart' %}
   
<div class="col-lg-3">

<p class="mt-4">{{ image.name | split: '.' | first | replace: 'unisex-staple-t-shirt-', '' }}</p>
 <img 
loading="lazy"
src="{{ site.baseurl }}{{ image.path }}" 
data-mdb-img="{{ site.baseurl }}{{ image.path }}" 
alt="{{ image.name | split: '.' | first | replace: 'unisex-staple-t-shirt-', '' }}"  class="img-fluid" /></div>
    {% endif %}
{% endfor %}

<a href="#top" class="btn btn-dark m-5 p-3">Back to the top</a>
</div>
</section>

<section>
<h2 id="heartEnclosed">Heart Enclosed</h2>
<!-- Millie Heart -->
<div class="row lightbox" data-mdb-lightbox-init>
    {% for image in site.static_files %}
    {% if image.path contains 'images/millieheart' %}
   
<div class="col-lg-3"> 
<p class="mt-4">{{ image.name | split: '.' | first | replace: 'unisex-staple-t-shirt-', '' }}</p>
<img 
loading="lazy"
src="{{ site.baseurl }}{{ image.path }}" 
data-mdb-img="{{ site.baseurl }}{{ image.path }}" 
alt="{{ image.name | split: '.' | first | replace: 'unisex-staple-t-shirt-', '' }}"  class="img-fluid" /></div>
    {% endif %}
{% endfor %}

<a href="#top" class="btn btn-dark m-5 p-3">Back to the top</a>
</div>
</section>



<section>
<!-- NeedCoffee -->
<h2 id="needCoffee">Need Coffee</h2>
<div class="row lightbox" data-mdb-lightbox-init>
    {% for image in site.static_files %}
    {% if image.path contains 'images/needCoffee' %}
   
<div class="col-lg-3"> 
<p class="mt-4">{{ image.name | split: '.' | first | replace: 'unisex-staple-t-shirt-', '' }}</p>
<img 
loading="lazy"
src="{{ site.baseurl }}{{ image.path }}" 
data-mdb-img="{{ site.baseurl }}{{ image.path }}" 
alt="{{ image.name | split: '.' | first | replace: 'unisex-staple-t-shirt-', '' }}"  class="img-fluid" /></div>
    {% endif %}
{% endfor %}

<a href="#top" class="btn btn-dark m-5 p-3">Back to the top</a>
</div>
</section>


<section>
<!-- Pi -->
<h2 id="pi">Pi</h2>
<div class="row lightbox" data-mdb-lightbox-init>
    {% for image in site.static_files %}
    {% if image.path contains 'images/pi' %}
   
<div class="col-lg-3"> 
<p class="mt-4">{{ image.name | split: '.' | first | replace: 'unisex-staple-t-shirt-', '' }}</p>
<img 
loading="lazy"
src="{{ site.baseurl }}{{ image.path }}" 
data-mdb-img="{{ site.baseurl }}{{ image.path }}" 
alt="{{ image.name | split: '.' | first | replace: 'unisex-staple-t-shirt-', '' }}"  class="img-fluid" /></div>
    {% endif %}
{% endfor %}
<a href="#top" class="btn btn-dark m-5 p-3">Back to the top</a>
</div>
</section>


<section>
<!-- Circle of Coffee -->
<h2 id="circleOfCoffee">Circle of Coffee</h2>
<div class="row lightbox" data-mdb-lightbox-init>
    {% for image in site.static_files %}
    {% if image.path contains 'images/circleOfCoffee' %}
   
<div class="col-lg-3">

<p class="mt-4">{{ image.name | split: '.' | first | replace: 'unisex-staple-t-shirt-', '' }}</p>
 <img 
loading="lazy"
src="{{ site.baseurl }}{{ image.path }}" 
data-mdb-img="{{ site.baseurl }}{{ image.path }}" 
alt="{{ image.name | split: '.' | first | replace: 'unisex-staple-t-shirt-', '' }}"  class="img-fluid" /></div>
    {% endif %}
{% endfor %}
<a href="#top" class="btn btn-dark m-5 p-3">Back to the top</a>
</div>
</section>




</div>
